[Desktop Entry]
Name=OpenXenManager-XCPNG
GenericName=XCP-NG Management Tool
Comment=Open source management GUI for XenServer / XCP-NG
Exec=openxenmanager %U
Icon=openxenmanager
Terminal=false
Type=Application
Categories=System;Monitor;Utility;
Keywords=xen;xcp;vm;virtualization;management;
