# Maintainer: oytunistrator <https://github.com/oytunistrator/openxenmanager-xcpng>

pkgname=openxenmanager-xcpng
pkgver=0.1.0.dev1
arch=(any)
url=https://github.com/oytunistrator/openxenmanager-xcpng
license=(GPL2)
depends=(python-gobject gtk3 python-configobj gtk-vnc)
makedepends=(git)
optdepends=(gtkvnc-python: VNC console support for VM viewing)
